entrypoint = "revertListToString.py" # 想跑甚麼程式就直接改這邊
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"
